<a href="https://colab.research.google.com/github/mkane968/Text-Mining-with-Student-Papers/blob/main/Text_Mining_Student_Essays_A_Computational_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Text Mining Student Essays: A Computational Exploration

This pipeline will ingest, clean and analyze meaningful language patterns in a corpora of student papers. The following input is required: 

*   Corpus of student papers (.txt files)
*   Grades and other relevant metadata associated with the papers (.csv files)

## 1. Install Packages

In [2]:
#Mount Google Drive
from google.colab import drive
from google.colab import files

#Install glob
import glob 

#Install pandas
import pandas as pd

#Install numpy
import numpy as np

#Imports the Natural Language Toolkit, which is necessary to install NLTK packages and libraries
#!pip install nltk
import nltk

#Installs libraries and packages to tokenize text
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize
from  nltk.text import ConcordanceIndex

#Installs libraries and packages to clean text
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer

#Import matplotlib for visualizations
import matplotlib.pyplot as plt


import re  # For preprocessing
from time import time  # To time our operations
from collections import defaultdict  # For word frequency
import logging  # Setting up the loggings to monitor gensim

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## 2. Import Student Essays and Metadata

###Import Student Essays and Add to DataFrame

In [3]:
#Mount Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#Add files to upload from local machine
uploaded = files.upload()

Saving achesonalessandro_193606_13858036_Final Portfolio Eng 802 - Acheson .txt to achesonalessandro_193606_13858036_Final Portfolio Eng 802 - Acheson .txt
Saving ahenkoraravenmanu_LATE_232002_18873129_English 0802 Portfolio - Raven Ahenkora.txt to ahenkoraravenmanu_LATE_232002_18873129_English 0802 Portfolio - Raven Ahenkora.txt
Saving bedellolivia_195145_16640649_Analytical Reading and Writing Final Portfolio.txt to bedellolivia_195145_16640649_Analytical Reading and Writing Final Portfolio.txt
Saving benjamincamillia_193400_11506010_Camillia Benjamin Final Portfolio.txt to benjamincamillia_193400_11506010_Camillia Benjamin Final Portfolio.txt
Saving bernsteingage_LATE_227638_18903293_Final Portfolio- English 0802.txt to bernsteingage_LATE_227638_18903293_Final Portfolio- English 0802.txt
Saving bortolottiryan_LATE_232933_18872422_Portfolio.txt to bortolottiryan_LATE_232933_18872422_Portfolio.txt
Saving braunsteinaydan_232993_19273434_Final Portfolio.txt to braunsteinaydan_232993_19273434_Final Portfolio.txt
Saving brizardstacey_157620_11534376_ENg 802 Portfolio.txt to brizardstacey_157620_11534376_ENg 802 Portfolio.txt
Saving brownkarson_228204_18820049_Final Portfolio.txt to brownkarson_228204_18820049_Final Portfolio.txt
Saving buttsthomas_186448_11510966_Final Portfolio.txt to buttsthomas_186448_11510966_Final Portfolio.txt
Saving canigliadominick_190318_16641215_Final Portfolio ENG 802.txt to canigliadominick_190318_16641215_Final Portfolio ENG 802.txt
Saving clancyhannah_232214_19272638_ENG802 Final Portfolio Clancy-1.txt to clancyhannah_232214_19272638_ENG802 Final Portfolio Clancy-1.txt
Saving claycaitlynm_224728_18831772_Clay Final Portfolio.txt to claycaitlynm_224728_18831772_Clay Final Portfolio.txt
Saving collinsgabriela_189553_13864849_Final Portfolio.txt to collinsgabriela_189553_13864849_Final Portfolio.txt
Saving coomansannali_189586_11532039_Final Portfolio.txt to coomansannali_189586_11532039_Final Portfolio.txt
Saving cuascutpalmercorey_237430_19272820_Corey Palmer final portfolio .txt to cuascutpalmercorey_237430_19272820_Corey Palmer final portfolio .txt
Saving dagostinorenojoseph_185491_13862585_final portfolio - reno.txt to dagostinorenojoseph_185491_13862585_final portfolio - reno.txt
Saving dambrosiomichele_LATE_192315_13866776_Final Portfolio-1.txt to dambrosiomichele_LATE_192315_13866776_Final Portfolio-1.txt
Saving detreuxalexandrar_LATE_221666_18846510_Final Portfolio .txt to detreuxalexandrar_LATE_221666_18846510_Final Portfolio .txt
Saving duckworthemily_227040_19273457_Final Portfolio Eng 0802.txt to duckworthemily_227040_19273457_Final Portfolio Eng 0802.txt
Saving duganconnor_194255_16648329_Final Portfolio.txt to duganconnor_194255_16648329_Final Portfolio.txt
Saving falltsela_216363_16629636_Final Portfolio (1).txt to falltsela_216363_16629636_Final Portfolio (1).txt
Saving fergusonlailaakili_189252_11532964_Final Portfolio- ENG 0802.txt to fergusonlailaakili_189252_11532964_Final Portfolio- ENG 0802.txt
Saving forestierchloe_LATE_224883_18842842_Final Portfolio ENG 802.txt to forestierchloe_LATE_224883_18842842_Final Portfolio ENG 802.txt
Saving francismelanie_LATE_177737_13879728_English Final Portfolio.txt to francismelanie_LATE_177737_13879728_English Final Portfolio.txt
Saving francoisabelsofia_189950_11523313_ENG 802 Portfolio.txt to francoisabelsofia_189950_11523313_ENG 802 Portfolio.txt
Saving fritzjake_LATE_175469_16650722_FINAL PORTFOLIO JAKE FRITZ.txt to fritzjake_LATE_175469_16650722_FINAL PORTFOLIO JAKE FRITZ.txt
Saving gallagherautumn_232788_18810673_Final Portfolio.txt to gallagherautumn_232788_18810673_Final Portfolio.txt
Saving gallagherchris_184517_19273548_Final Portfolio.txt to gallagherchris_184517_19273548_Final Portfolio.txt
Saving gallardisabelml_188828_19273559_Final.txt to gallardisabelml_188828_19273559_Final.txt
Saving gawdesakshi_LATE_230811_18872856_Sakshi Gawde ENG 0802 Portfolio.txt to gawdesakshi_LATE_230811_18872856_Sakshi Gawde ENG 0802 Portfolio.txt
Saving grahamluca_194503_16644137_Final Portfolio 0802.txt to grahamluca_194503_16644137_Final Portfolio 0802.txt
Saving grayamirj_189232_16645999_Final Portfolio .txt to grayamirj_189232_16645999_Final Portfolio .txt
Saving haggertybenjamin_LATE_223398_18868006_English 0802 Final Portfolio Final.txt to haggertybenjamin_LATE_223398_18868006_English 0802 Final Portfolio Final.txt
Saving hartliamalexander_LATE_199773_14075129_Final Portfolio .txt to hartliamalexander_LATE_199773_14075129_Final Portfolio .txt
Saving hoxhasteve_193601_13850871_Final Portfolio-1.txt to hoxhasteve_193601_13850871_Final Portfolio-1.txt
Saving johnsonindiyas_233133_18836226_Johnson Indiya Final Portfolio.txt to johnsonindiyas_233133_18836226_Johnson Indiya Final Portfolio.txt
Saving joycemiranda_195628_19273545_Final Portfolio.txt to joycemiranda_195628_19273545_Final Portfolio.txt
Saving juarezmendezjavier_204658_16648452_FinalPortfolio.txt to juarezmendezjavier_204658_16648452_FinalPortfolio.txt
Saving juliaangilina_LATE_194012_14038962_English final portfolio Angilina Julia.txt to juliaangilina_LATE_194012_14038962_English final portfolio Angilina Julia.txt
Saving karchnerallysonmackenzie_186983_16609748_Final Reflection.txt to karchnerallysonmackenzie_186983_16609748_Final Reflection.txt
Saving kaurharneet_LATE_178688_13929415_Final Portfolio.txt to kaurharneet_LATE_178688_13929415_Final Portfolio.txt
Saving kimjuneyong_179904_16644826_Final Portfolio-1.txt to kimjuneyong_179904_16644826_Final Portfolio-1.txt
Saving kingmayaangelique_LATE_195632_13896919_ENG 802 Final Portfolio .txt to kingmayaangelique_LATE_195632_13896919_ENG 802 Final Portfolio .txt
Saving klinenicolesophia_194572_16560732_Final Portfolio.txt to klinenicolesophia_194572_16560732_Final Portfolio.txt
Saving kowalakmaxwella_195263_16632628_Final reflection draft-1.txt to kowalakmaxwella_195263_16632628_Final reflection draft-1.txt
Saving kowalskikaitlynmarie_158545_11530839_Final portfolio-2.txt to kowalskikaitlynmarie_158545_11530839_Final portfolio-2.txt
Saving laffertyemma_177332_13854929_Final Portfolio.txt to laffertyemma_177332_13854929_Final Portfolio.txt
Saving larubbioolivialane_195369_16617311_ENG 802 Final Portfolio- LaRubbio.txt to larubbioolivialane_195369_16617311_ENG 802 Final Portfolio- LaRubbio.txt
Saving laskymiag_186000_11485433_Final Portfolio (1).txt to laskymiag_186000_11485433_Final Portfolio (1).txt
Saving lesliemorgan_185909_13865487_Final portfolio.txt to lesliemorgan_185909_13865487_Final portfolio.txt
Saving lougheryemily_195313_13825152_Final Portfolio - Loughery.txt to lougheryemily_195313_13825152_Final Portfolio - Loughery.txt
Saving lubinamanda_204672_19273089_Final portfolio.txt to lubinamanda_204672_19273089_Final portfolio.txt
Saving mccarthyjulia_214156_16609745_Final Portfolio English 802.txt to mccarthyjulia_214156_16609745_Final Portfolio English 802.txt
Saving mccarthymichelle_202621_13862666_Final Portfolio English.txt to mccarthymichelle_202621_13862666_Final Portfolio English.txt
Saving mcgoldrickhannah_LATE_203619_13867737_Final Portfolio-1.txt to mcgoldrickhannah_LATE_203619_13867737_Final Portfolio-1.txt
Saving mcwilliamscam_225111_18819275_0802 final portfolio.txt to mcwilliamscam_225111_18819275_0802 final portfolio.txt
Saving milanodylanc_176193_16644981_Final Portfolio.txt to milanodylanc_176193_16644981_Final Portfolio.txt
Saving mosesrainam_176901_11528963_ENG Final Portfolio.txt to mosesrainam_176901_11528963_ENG Final Portfolio.txt
Saving muthersbaughdylana_153690_11510673_Muthersbaugh Final Portfolio.txt to muthersbaughdylana_153690_11510673_Muthersbaugh Final Portfolio.txt
Saving nelliganallanah_LATE_214736_18841700_Final Portfolio - Allanah Nelligan-2.txt to nelliganallanah_LATE_214736_18841700_Final Portfolio - Allanah Nelligan-2.txt
Saving nowlankelley_190909_16643048_Final Portfolio 802-1.txt to nowlankelley_190909_16643048_Final Portfolio 802-1.txt
Saving odonnellcolin_185986_11527823_Colin O'Donnell English 0802 Final Portfolio.txt to odonnellcolin_185986_11527823_Colin O'Donnell English 0802 Final Portfolio.txt
Saving ogudewellingtono_156466_11527004_Final Portfolio.txt to ogudewellingtono_156466_11527004_Final Portfolio.txt
Saving osheasarahcatherine_190130_11500682_English 0802 Final Portfolio.txt to osheasarahcatherine_190130_11500682_English 0802 Final Portfolio.txt
Saving owenmorgan_LATE_227737_18867789_Morgan Owen Final Eng Portfolio.txt to owenmorgan_LATE_227737_18867789_Morgan Owen Final Eng Portfolio.txt
Saving pagatscaseyl_158548_19273278_Final Portfolio-English 802.txt to pagatscaseyl_158548_19273278_Final Portfolio-English 802.txt
Saving palmernoahd_156676_11525612_Noah Palmer_ Final Portfolio.txt to palmernoahd_156676_11525612_Noah Palmer_ Final Portfolio.txt
Saving pannonegennarosantino_LATE_239478_19273687_ENG 802 Portfolio.txt to pannonegennarosantino_LATE_239478_19273687_ENG 802 Portfolio.txt
Saving patelapnavik_160374_19273403_Final Portfolio .txt to patelapnavik_160374_19273403_Final Portfolio .txt
Saving pendletoncararenee_178245_16643154_Final Portfolio.txt to pendletoncararenee_178245_16643154_Final Portfolio.txt
Saving poagueaubreylynn_LATE_153053_11634443_final reflection.txt to poagueaubreylynn_LATE_153053_11634443_final reflection.txt
Saving poplianjali_185531_11524672_Final Portfolio - Anjali Popli.txt to poplianjali_185531_11524672_Final Portfolio - Anjali Popli.txt
Saving poustalina_189353_11521498_English Final Portfolio.txt to poustalina_189353_11521498_English Final Portfolio.txt
Saving rankineoliverpatrick_177512_16634652_final portfolio.txt to rankineoliverpatrick_177512_16634652_final portfolio.txt
Saving reidcaelenandrew_LATE_231521_18873288_Analytic Reading Final Portfolio.txt to reidcaelenandrew_LATE_231521_18873288_Analytic Reading Final Portfolio.txt
Saving reidseandre_188286_11489252_Seandre Reid Final Portfolio.txt to reidseandre_188286_11489252_Seandre Reid Final Portfolio.txt
Saving renshawtrentj_LATE_225816_18872781_analytical reading and writing final portfolio.txt to renshawtrentj_LATE_225816_18872781_analytical reading and writing final portfolio.txt
Saving rippietylerc_186302_13766018_Final Portfolio.txt to rippietylerc_186302_13766018_Final Portfolio.txt
Saving rosenblattjennalily_178443_13824205_Final Portfolio.txt to rosenblattjennalily_178443_13824205_Final Portfolio.txt
Saving sadelsid_176302_11523048_FINAL PORTFOLIO SADEL.txt to sadelsid_176302_11523048_FINAL PORTFOLIO SADEL.txt
Saving sallarobertj_227922_19273217_Final Portfolio-1.txt to sallarobertj_227922_19273217_Final Portfolio-1.txt
Saving samuelalica_LATE_232314_18870766_ENG 802 Final Portfolio .txt to samuelalica_LATE_232314_18870766_ENG 802 Final Portfolio .txt
Saving schlegeljack_187176_13851245_Final Portfolio English 802.txt to schlegeljack_187176_13851245_Final Portfolio English 802.txt
Saving schrodermarion_LATE_217053_18872392_Final Portfolio Marion Schroder.txt to schrodermarion_LATE_217053_18872392_Final Portfolio Marion Schroder.txt
Saving semenovychandriy_178148_13803760_Andriy Semenovych - Final Portfolio.txt to semenovychandriy_178148_13803760_Andriy Semenovych - Final Portfolio.txt
Saving shaukatayshalissette_177300_13820685_Aysha Shaukat Final Portfolio .txt to shaukatayshalissette_177300_13820685_Aysha Shaukat Final Portfolio .txt
Saving shermanbridget_185456_11509994_Final Portfolio Sherman.txt to shermanbridget_185456_11509994_Final Portfolio Sherman.txt
Saving smithangelk_193777_13860609_Final Portfolio Analytical Reading and Writing Angel K Smith.txt to smithangelk_193777_13860609_Final Portfolio Analytical Reading and Writing Angel K Smith.txt
Saving smithangelk_193777_13860611_Final Portfolio Analytical Reading and Writing Angel K Smith.txt to smithangelk_193777_13860611_Final Portfolio Analytical Reading and Writing Angel K Smith.txt
Saving tannenbaummara_185507_11533696_Mara Tannenbaum- FINAL PORTFOLIO.txt to tannenbaummara_185507_11533696_Mara Tannenbaum- FINAL PORTFOLIO.txt
Saving thachsiah_192683_18798579_ENG802 - FINAL PORTFOLIO.txt to thachsiah_192683_18798579_ENG802 - FINAL PORTFOLIO.txt
Saving tilahunmetshettesfaye_LATE_233407_18842217_Final Profolio.txt to tilahunmetshettesfaye_LATE_233407_18842217_Final Profolio.txt
Saving tommansydney_226726_18833925_Final Portfolio.txt to tommansydney_226726_18833925_Final Portfolio.txt
Saving trailgriffinr_186165_16638165_Griffin Trail Final Portfolio.txt to trailgriffinr_186165_16638165_Griffin Trail Final Portfolio.txt
Saving trangtam_LATE_233386_18870298_Final Portfolio.txt to trangtam_LATE_233386_18870298_Final Portfolio.txt
Saving trapanijosephp_225832_16650178_Portfolio.txt to trapanijosephp_225832_16650178_Portfolio.txt
Saving truonganna_193637_11492232_Final Portfolio.txt to truonganna_193637_11492232_Final Portfolio.txt
Saving tuckerzoejames_186528_11531588_Zoe Tucker Final Portfolio .txt to tuckerzoejames_186528_11531588_Zoe Tucker Final Portfolio .txt
Saving volpeisabella_189740_13860755_Final Portfolio.txt to volpeisabella_189740_13860755_Final Portfolio.txt
Saving whippleamaya_LATE_186629_13880965_Final Portfolio.txt to whippleamaya_LATE_186629_13880965_Final Portfolio.txt
Saving yellaniashrita_185528_11531910_Final Reflection + Papers.txt to yellaniashrita_185528_11531910_Final Reflection + Papers.txt
Saving yuknekkathryn_189403_13865230_Final Portfolio - K.Yuknek.txt to yuknekkathryn_189403_13865230_Final Portfolio - K.Yuknek.txt
Saving zavorskipauld_142981_11496625_ARaW.txt to zavorskipauld_142981_11496625_ARaW.txt

In [5]:
#Put essays into dataframe
essays = pd.DataFrame.from_dict(uploaded, orient='index')

#Reset index and add column names to make wrangling easier
essays = essays.reset_index()
essays.columns = ["ID", "Text"]

#Remove encoding characters from Text column (b'\xef\xbb\xbf)
essays['Text'] = essays['Text'].apply(lambda x: x.decode('utf-8'))

#Remove newline characters and put in new column 
essays['Text_Newlines'] = essays['Text']
essays['Text'] = essays['Text'].str.replace(r'\s+|\\r', ' ', regex=True) 
essays['Text'] = essays['Text'].str.replace(r'\s+|\\n', ' ', regex=True) 
essays.head()

,ID,Text,Text_Newlines
0,achesonalessandro_193606_13858036_Final Portfo...,"I have learned a lot through English 802, mor...","\tI have learned a lot through English 802, mo..."
1,ahenkoraravenmanu_LATE_232002_18873129_English...,Raven Ahenkora Professor Megan Kane English 08...,Raven Ahenkora\nProfessor Megan Kane\nEnglish ...
2,bedellolivia_195145_16640649_Analytical Readin...,Olivia Bedell Professor Megan Kane ENG 802 14 ...,Olivia Bedell\nProfessor Megan Kane\nENG 802\n...
3,benjamincamillia_193400_11506010_Camillia Benj...,Camillia Benjamin Prof. Kane English 802 06 De...,Camillia Benjamin\nProf. Kane\nEnglish 802\n06...
4,bernsteingage_LATE_227638_18903293_Final Portf...,Bernstein 1 Gage Bernstein English 0802 Profes...,Bernstein 1\nGage Bernstein\nEnglish 0802\nPro...

### Remove identifying information from each paper ID (instructor/student names)

In [6]:
#Remove identifying information from ID
#Remove any occurences of "LATE_" from dataset (otherwise will skew ID cleaning)
essays['ID'] = essays['ID'].str.replace(r'LATE_', '', regex=True) 

#Split book on first underscore (_) in ID, keep only text in between first and second underscore (ID number)
start = essays["ID"].str.split("_", expand = True)
essays['ID'] = start[1]
essays['ID'] = essays['ID'].astype(int)
essays

,ID,Text,Text_Newlines
0,193606,"I have learned a lot through English 802, mor...","\tI have learned a lot through English 802, mo..."
1,232002,Raven Ahenkora Professor Megan Kane English 08...,Raven Ahenkora\nProfessor Megan Kane\nEnglish ...
2,195145,Olivia Bedell Professor Megan Kane ENG 802 14 ...,Olivia Bedell\nProfessor Megan Kane\nENG 802\n...
3,193400,Camillia Benjamin Prof. Kane English 802 06 De...,Camillia Benjamin\nProf. Kane\nEnglish 802\n06...
4,227638,Bernstein 1 Gage Bernstein English 0802 Profes...,Bernstein 1\nGage Bernstein\nEnglish 0802\nPro...
...,...,...,...
99,189740,Isabella Volpe Professor Kane ENG 802 21 April...,Isabella Volpe\nProfessor Kane\nENG 802\n21 Ap...
100,186629,Amaya Whipple Professor Megan Kane ENG 802 9 F...,Amaya Whipple\nProfessor Megan Kane\nENG 802\n...
101,185528,Ashrita Yellani Professor Kane English 0802 De...,Ashrita Yellani\nProfessor Kane\nEnglish 0802\...
102,189403,Yuknek 1 Kathryn Yuknek Professor Kane ENG 802...,Yuknek 1\n\n\nKathryn Yuknek\n\n\nProfessor Ka...
103,142981,Paul Zavorski Professor Megan Kane English 080...,Paul Zavorski\nProfessor Megan Kane\nEnglish 0...

### Import grades and additional metadata to second dataframe

In [7]:
#Upload csvs with essay metadata
uploaded_grades = files.upload()

Saving 2022-09-13T0943_Grades-LA-ENG-0802-711-10742-202220.csv to 2022-09-13T0943_Grades-LA-ENG-0802-711-10742-202220.csv
Saving 2022-09-13T0945_Grades-LA-ENG-0802-062-37264-202203.csv to 2022-09-13T0945_Grades-LA-ENG-0802-062-37264-202203.csv
Saving 2022-11-28T1326_Grades-LA-ENG-0802-011-4684-202103.csv to 2022-11-28T1326_Grades-LA-ENG-0802-011-4684-202103.csv
Saving 2022-11-28T1331_Grades-LA-ENG-0802-012-3352-202136.csv to 2022-11-28T1331_Grades-LA-ENG-0802-012-3352-202136.csv
Saving 2022-11-28T1332_Grades-LA-ENG-0802-010-3350-202036.csv to 2022-11-28T1332_Grades-LA-ENG-0802-010-3350-202036.csv

In [28]:
#Link to path where csv files are stored in drive
local_path = r'/content'

#Create variable to store all csvs in path
filenames = glob.glob(local_path + "/*.csv")

#Create df list for all csvs
dfs = [pd.read_csv(filename) for filename in filenames]

# Concatenate all data into one DataFrame
metadata = pd.concat(dfs, ignore_index=True)

#Change data to string (for further cleaning)
metadata.astype(str)

metadata.head()

,Student,ID,SIS User ID,SIS Login ID,Integration ID,Section,Final Portfolio (1689777),Weekly Assignments Current Score,Weekly Assignments Unposted Current Score,Weekly Assignments Final Score,...,Assignments Unposted Final Score,Quizzes Current Score,Quizzes Unposted Current Score,Quizzes Final Score,Quizzes Unposted Final Score,Discussions Current Score,Discussions Unposted Current Score,Discussions Final Score,Discussions Unposted Final Score,Final Portfolio (1059452)
0,Points Possible,NaN,NaN,NaN,NaN,NaN,100.0,(read only),(read only),(read only),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Braunstein, Aydan",232993.0,tun93646,tun93646,915967676.0,Section: 711,94.0,100.09,100.09,100.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Clancy, Hannah",232214.0,tuo91570,tuo91570,916062331.0,Section: 711,92.0,100.26,100.26,100.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Cuascut-Palmer, Corey",237430.0,tuo77740,tuo77740,916050168.0,Section: 711,85.0,97.44,97.44,97.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Duckworth, Emily",227040.0,tuo35762,tuo35762,916008595.0,Section: 711,95.0,100.26,100.26,100.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#Drop header rows(Points Possible) and test student rows (Student, Test)
metadata = metadata[metadata['Student'].str.contains('Points Possible|Student, Test')==False]
metadata.head()

,Student,ID,SIS User ID,SIS Login ID,Integration ID,Section,Final Portfolio (1689777),Weekly Assignments Current Score,Weekly Assignments Unposted Current Score,Weekly Assignments Final Score,...,Assignments Unposted Final Score,Quizzes Current Score,Quizzes Unposted Current Score,Quizzes Final Score,Quizzes Unposted Final Score,Discussions Current Score,Discussions Unposted Current Score,Discussions Final Score,Discussions Unposted Final Score,Final Portfolio (1059452)
1,"Braunstein, Aydan",232993.0,tun93646,tun93646,915967676.0,Section: 711,94.0,100.09,100.09,100.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Clancy, Hannah",232214.0,tuo91570,tuo91570,916062331.0,Section: 711,92.0,100.26,100.26,100.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Cuascut-Palmer, Corey",237430.0,tuo77740,tuo77740,916050168.0,Section: 711,85.0,97.44,97.44,97.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Duckworth, Emily",227040.0,tuo35762,tuo35762,916008595.0,Section: 711,95.0,100.26,100.26,100.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Gallagher, Chris",184517.0,tul44633,tul44633,915837216.0,Section: 711,90.0,100.26,100.26,100.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
#Keep only relevant metadata (ID, Section, Final Portfolio Scores)
clean_metadata = metadata[['ID'] + ['Section'] + list(metadata.loc[:, metadata.columns.str.startswith('Final Portfolio (')])]
clean_metadata
#Want other metadata? Check the columns
#Get all column names 
#for col in metadata.columns:
   # print(col)

,ID,Section,Final Portfolio (1689777),Final Portfolio (878160),Final Portfolio (1676963),Final Portfolio (1313717),Final Portfolio (1059452)
1,232993.0,Section: 711,94.0,NaN,NaN,NaN,NaN
2,232214.0,Section: 711,92.0,NaN,NaN,NaN,NaN
3,237430.0,Section: 711,85.0,NaN,NaN,NaN,NaN
4,227040.0,Section: 711,95.0,NaN,NaN,NaN,NaN
5,184517.0,Section: 711,90.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
120,177300.0,Section: 011,NaN,NaN,NaN,NaN,92.0
121,193777.0,Section: 011,NaN,NaN,NaN,NaN,89.0
122,189740.0,Section: 011,NaN,NaN,NaN,NaN,89.0
123,186629.0,Section: 011,NaN,NaN,NaN,NaN,86.0
124,189403.0,Section: 011,NaN,NaN,NaN,NaN,84.0

In [94]:
#Replace all NaN values with 0 
clean_metadata = clean_metadata.replace(np.nan, 0)
clean_metadata

,ID,Section,Final Portfolio (1689777),Final Portfolio (878160),Final Portfolio (1676963),Final Portfolio (1313717),Final Portfolio (1059452)
1,232993.0,Section: 711,94.0,0.0,0.0,0,0.0
2,232214.0,Section: 711,92.0,0.0,0.0,0,0.0
3,237430.0,Section: 711,85.0,0.0,0.0,0,0.0
4,227040.0,Section: 711,95.0,0.0,0.0,0,0.0
5,184517.0,Section: 711,90.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...
120,177300.0,Section: 011,0.0,0.0,0.0,0,92.0
121,193777.0,Section: 011,0.0,0.0,0.0,0,89.0
122,189740.0,Section: 011,0.0,0.0,0.0,0,89.0
123,186629.0,Section: 011,0.0,0.0,0.0,0,86.0
124,189403.0,Section: 011,0.0,0.0,0.0,0,84.0

In [95]:
#Create new final portfolio column with all values
#Add values of each column together; values except correct grade will be zero
score_counts = clean_metadata.columns[2:]
clean_metadata['Portfolio_Score'] = clean_metadata[score_counts].sum(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

In [96]:
clean_metadata['Portfolio_Score']

1      94.0
2      92.0
3      85.0
4      95.0
5      90.0
       ...
120    92.0
121    89.0
122    89.0
123    86.0
124    84.0
Name: Portfolio_Score, Length: 115, dtype: float64

In [98]:
#Drop grade columns for individual classes
clean_metadata = clean_metadata[['ID', 'Section', "Portfolio_Score"]]
clean_metadata

           ID       Section  Portfolio_Score
1    232993.0  Section: 711             94.0
2    232214.0  Section: 711             92.0
3    237430.0  Section: 711             85.0
4    227040.0  Section: 711             95.0
5    184517.0  Section: 711             90.0
..        ...           ...              ...
120  177300.0  Section: 011             92.0
121  193777.0  Section: 011             89.0
122  189740.0  Section: 011             89.0
123  186629.0  Section: 011             86.0
124  189403.0  Section: 011             84.0

[115 rows x 3 columns]

In [ ]:
#Drop decimal from ID (inconsistent with ID in essay dataframe)
clean_metadata['ID'] = clean_metadata['ID'].astype(int)

#Check cleaned DF one more time
clean_metadata

### Merge essays and grade metadata into one dataframe

In [ ]:
#Merge metadata and cleaned essays into new dataframe
#Will only keep rows where both essay and metadata are present
essays_grades_master = clean_metadata.merge(essays,on='ID')

#Print dataframe
essays_grades_master

In [ ]:
#Sort dataframe by grades
essays_grades_master.sort_values(by=['Portfolio Score'], inplace = True)
essays_grades_master.head()

In [ ]:
#Save new df to csv and download
essays_grades_master.to_csv('essays_grades_master.csv') 
files.download('essays_grades_master.csv')